body {
	font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, system-ui, ui-sans-serif, sans-serif;
}
code, kbd, pre, samp {
	font-family: 'Fira Code', 'Fira Mono', ui-monospace, monospace;
}

footer {
	font-weight: normal;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.wm-page-content {
	margin-top: 16px;
}

.navbar, .wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
	background: #009688;
}

.wm-top-version {
	font-weight: normal;
	font-size: 14px;
	position: relative;
	top: 2px;
}

img.infobox {
	float: right;
	width: 128px;
	height: 128px;
	margin-left: 12px;
	margin-top: 0;
	margin-bottom: 0;
}
.pixelated {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
}
span.big {
	font-size: 24px;
}
.aside {
	float: right;
}
.aside span {
	font-family: monospace;
	padding: 2px 5px;
	background: #fff;
	border: solid 1px #e1e4e5;
	color: #A03;
}

img.symbolic {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	width: 32px;
	height: 32px;
	border-radius: 0;
}

.recipe {
	width: 336px;
	position: relative;
	background-image: url(../img/recipe-bg.svg);
	margin-bottom: 24px;
	background: #eee;
	border: 1px black solid;
	padding: 8px;
	border-radius: 4px;
}
.recipe .input {
	display: flex;
	flex-direction: row;
	width: 174px;
	flex-wrap: wrap;
}
.recipe .input.small {
	width: 116px;
}
.recipe .input > a, .recipe .input > img {
	flex-basis: 58px;
	position: relative;
}
.recipe img {
	margin: 0;
	width: 48px;
	height: 48px;
	padding: 4px;
	box-sizing: content-box;
}

.recipe .output {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}
.recipe .quantity {
	position: absolute;
	right: 4px;
	bottom: -6px;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	color: #000;
}
.recipe:after {
	content: "➔";
	font-weight: bold;
	font-size: 32px;
	position: absolute;
	display: block;
	right: 96px;
	top: 50%;
	transform: translateY(-50%);
	color: #ccc;
}
.recipe.horrible:after {
	text-shadow: #F00 0px 0px 4px;
	color: #CAA;
}
.recipe .add {
	width: 56px;
	height: 56px;
	position: relative;
}
.recipe .add:before {
	content: "+";
	font-weight: bold;
	display: block;
	color: #ccc;
	font-size: 38px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
video {
	width: 100%;
	height: calc(56.25vw - 32px);
}
.wm-toc-repo {
	display: none;
}
.wm-toctree .wm-toc-li:before {
	text-transform: uppercase;
	font-size: .85em;
	font-weight: bold;
	border-bottom: 1px #AAAA solid;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	background: #f2f2f2;
	color: #000;
}
.wm-toctree .wm-toc-li a:before {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-size: 100% 100%;
	margin-right: 4px;
	vertical-align: middle;
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(1):before {
	content: "Help out";
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(1) a:before { content: "";
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/cash-multiple.svg);
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(2) a:before { content: "";
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/github.svg);
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(3):before {
	content: "Download it";
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(3) a:before { content: "";
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/fire.svg);
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(4) a:before { content: "";
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/github.svg);
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(5):before {
	content: "Talk about it";
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(5) a:before { content: "";
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/discord.svg);
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(6) a:before { content: "";
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/chat.svg);
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(7) a:before { content: "";
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/at.svg);
}
.wm-toc-pane > .wm-toctree > .wm-toc-li:nth-child(8):before {
	content: "Learn about it";
}

.wm-toc-pane a[href^="https://"]:after,
.wm-toc-pane a[href^="mailto:"]:after,
p a[href^="https://"]:after,
p a[href^="mailto:"]:after {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: 100% 100%;
	margin-left: 4px;
	vertical-align: middle;
	background-image: url(https://cdn.jsdelivr.net/npm/@mdi/svg@5.9.55/svg/open-in-new.svg);
}

@media(min-width: 700px) {
	video {
		width: 700px;
		height: 394px;
	}
}

@media(prefers-color-scheme: dark) {
	body {
		background: #1A2327;
		color: #CFD8DC;
	}
	.wm-toc-pane {
		background: #263238;
	}
	.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus {
		color: #CFD8DC;
	}
	.wm-toc-li:hover {
		background: #37474F;
	}
	.wm-toctree .wm-toc-li:before {
		background: #263238;
		color: #CFD8DC;
	}
	h1 {
		color: #FFF;
	}
	h2, h3, h4, h5, h6 {
		color: #ECEFF1;
	}
	img.symbolic, .invert-dark, .wm-toctree .wm-toc-li a:before, a:after, code {
		filter: invert(90%) hue-rotate(180deg);
	}
	.aside span {
		background: #455A64;
		color: #FF80AB;
		border-radius: 3px;
	}
	img.infobox {
		background: #455A64;
	}
	.recipe {
		background: #455A64;
	}
	.recipe img {
		background: #607D8B;
	}
	.recipe .quantity {
		color: #FFF;
	}
}
